In [76]:
import numpy as np
import pandas as pd

In [77]:
county = pd.read_csv('covid_county_population_usafacts.csv')
confirmed = pd.read_csv('covid_confirmed_usafacts.csv')

In [78]:
df = pd.merge(county, confirmed, on='State')
df = df.iloc[:, :352]
df = df.drop(['countyFIPS_x', 'countyFIPS_y', 'County Name_y', 'StateFIPS'], axis=1)
df.sample(5)

,County Name_x,State,population,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,...,2020-12-22,2020-12-23,2020-12-24,2020-12-25,2020-12-26,2020-12-27,2020-12-28,2020-12-29,2020-12-30,2020-12-31
244956,Irion County,TX,1536,0,0,0,0,0,0,0,...,132591,134091,135793,135793,135793,135793,138010,144001,145279,146888
165365,Wayne County,NY,89918,0,0,0,0,0,0,0,...,21327,21549,21822,22032,22213,22342,22506,22683,23019,23357
197317,Montour County,PA,18230,0,0,0,0,0,0,0,...,4298,4376,4453,4494,4555,4609,4631,4685,4754,4836
110881,West Baton Rouge Parish,LA,26465,0,0,0,0,0,0,0,...,659,661,666,666,666,666,668,678,699,707
274346,Van Zandt County,TX,56590,0,0,0,0,0,0,0,...,666,685,700,700,700,728,728,771,788,801

In [79]:
state_group = df.groupby('State').sum()

/var/folders/l2/8k3lyrk13tv35x2tjnmbkjb80000gn/T/ipykernel_94627/2487870213.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  state_group = df.groupby('State').sum()

In [80]:
state_group.sample(5)

,population,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,...,2020-12-22,2020-12-23,2020-12-24,2020-12-25,2020-12-26,2020-12-27,2020-12-28,2020-12-29,2020-12-30,2020-12-31
State,,,,,,,,,,,,,,,,,,,,,
CO,374317840,0,0,0,0,0,0,0,0,0,...,20380750,20572435,20769255,20942090,21035040,21126170,21233290,21346520,21505835,21715330
ND,41151348,0,0,0,0,0,0,0,0,0,...,4884462,4898934,4911192,4925988,4931982,4937922,4942782,4958712,4958712,4958712
NY,1225574343,0,0,0,0,0,0,0,0,0,...,55477376,56241344,57045696,57842240,58533824,59021696,59687744,60419776,61278784,62354112
IA,315507000,0,0,0,0,0,0,0,0,0,...,26902000,27101900,27244400,27391700,27431300,27493300,27547300,27694800,27860000,28030300
SC,241989558,0,0,0,0,0,0,0,0,0,...,13068585,13264810,13396316,13396316,13577924,13920413,14008350,14128294,14263325,14452829

In [81]:
for col in range(1, 346):
    state_group.iloc[:, col] = state_group.iloc[:, col] / state_group['population']
state_group = state_group.drop(['population'], axis=1)

In [82]:
df = state_group.T
df.sample(5)

State,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
2020-05-01,0.000516,0.001488,0.001095,1.093737e-03,1.688926e-03,0.002738,0.008068,0.003300,0.005051,0.001617,...,0.002852,0.001729,0.001008,0.001507,0.001981,0.001407,1.921760e-03,0.001489,0.000642,0.000724
2020-02-04,0.000000,0.000000,0.000000,1.373868e-07,9.780282e-07,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.313216e-07,0.000000,0.000000,0.000000
2020-10-31,0.022185,0.039216,0.037176,3.378975e-02,2.455803e-02,0.018133,0.019972,0.012232,0.025618,0.037366,...,0.051988,0.037945,0.031059,0.035802,0.021226,0.003492,1.411694e-02,0.041118,0.013648,0.020433
2020-11-19,0.035707,0.046074,0.046343,3.946094e-02,2.945749e-02,0.031743,0.027875,0.013941,0.030980,0.042571,...,0.078835,0.047501,0.039838,0.051814,0.024694,0.005305,1.804490e-02,0.062281,0.020868,0.045216
2020-10-15,0.015340,0.034500,0.031985,3.142175e-02,2.281812e-02,0.014225,0.017398,0.011453,0.023168,0.034687,...,0.035055,0.032337,0.027928,0.028226,0.019088,0.003047,1.263117e-02,0.029819,0.010644,0.014471

In [83]:
df = df.reset_index()
df = df.rename(columns={'index': 'date'})

In [84]:
df.sample(5)

State,date,AK,AL,AR,AZ,CA,CO,CT,DC,DE,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
164,2020-07-04,0.001610,0.008742,0.007688,0.012990,0.008746,0.005880,0.013103,0.007401,0.012426,...,0.007942,0.007113,0.006614,0.007685,0.007628,0.001984,0.004629,0.005866,0.001753,0.002775
299,2020-11-16,0.033210,0.044712,0.044518,0.038044,0.028124,0.029123,0.026165,0.013506,0.029995,...,0.074917,0.045713,0.038496,0.048615,0.023972,0.004821,0.017273,0.058318,0.019228,0.040074
230,2020-09-08,0.008961,0.027249,0.021877,0.028308,0.019617,0.010362,0.015085,0.010175,0.018801,...,0.017406,0.024066,0.022134,0.017272,0.015043,0.002651,0.010183,0.015072,0.006503,0.007088
140,2020-06-10,0.000838,0.004411,0.003435,0.004101,0.004310,0.004948,0.012439,0.006757,0.010327,...,0.006326,0.004049,0.002751,0.004022,0.006111,0.001753,0.003234,0.004107,0.001218,0.001692
114,2020-05-15,0.000548,0.002322,0.001479,0.001809,0.002438,0.003686,0.010121,0.004868,0.007564,...,0.004392,0.002470,0.001559,0.002157,0.003359,0.001495,0.002357,0.002313,0.000810,0.000935

In [87]:
file_path = 'cleaned.csv'
df.to_csv(file_path, index=False)